.container {
    padding: 0em 5em;
    text-align: left;
}

.annonce {
    position: relative;
}

.annonce>h3 {
    background-color: #fff;
    width: fit-content;
    padding: 9px 15px;
    border-radius: 10px;
}


.content>div {
    justify-content: space-between;
    display: flex;
}

.content>div:nth-child(1) {
    max-width: 80%;
}

@media screen and (max-width: 1400px) {
    .content>div:nth-child(1) {
        max-width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        margin: 0px auto;
    }

    .content>div {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .img {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .container{
        padding: 0em 2em;
    }
}