.container {
    justify-content: space-between;
    padding: 2em 10em;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav>li {
    list-style: none;
    margin: 0em 2em;
}

.nav>li>a {
    font-weight: bold;
    font-size: 20px;
    color: rgb(33, 33, 33);
    text-decoration: none;
}

.nav>li>a:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid #fff;
}

.logout {
    background-color: #fff;
}

.logout:hover {
    background-color: #c04343;
    color: #f1f1f1;
}

@media screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    .logout {
        position: absolute;
        top: 10;
        right: 0;
        margin-right: 15px;
    }

    .logo {
        position: absolute;
        top: 10;
        left: 0;
        margin-left: 15px;
    }

    .nav{
        margin-top: 80px;
    }
}