.container{
  margin: 5em 0;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .list{
    flex-direction: column;
    width: 90%;
  }
}